Django==1.9.1
Pygments==2.0.2
astroid==1.4.3
colorama==0.3.6
coverage==4.0.3
coveralls==1.1
decorator==4.0.6
dj-database-url==0.3.0
dj-static==0.0.6
django-debug-toolbar==1.4
django-jenkins==0.18.1
django-pylibmc==0.6.1
django-pylibmc-sasl==0.2.4
docopt==0.6.2
factory-boy==2.6.0
fake-factory==0.5.3
feedparser==5.2.1
gunicorn==19.4.3
ipdb==0.8.1
ipython==4.0.3
ipython-genutils==0.1.0
lazy-object-proxy==1.2.1
markdown2==2.3.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5
pylibmc==1.5.0
pylint==1.5.3
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.18
static3==0.6.1
traitlets==4.1.0
wrapt==1.10.6
